header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: red;
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}